*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: #222831;
    font-family: Kelly Slab, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    // font-family: Gothic A1, Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

h1,
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, button {
    cursor: pointer;
}

.header1 {
    background: #30475e;
    height: 40px;
    & h3 {
        display: none;
        font-family: 'Bungee Shade', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

.header2 {
    margin-bottom: 40px;
    padding: 20px 0px;
    background-image: url(../img/starry-sky2.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 1px solid white;
    & h1 {
        font-family: Bowlby One SC, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        // font-family: 'Bungee Shade', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 21px;
        text-shadow: 3px 3px 5px #222831;
        margin: 20px 0px;
        letter-spacing: 5px;
        -webkit-text-stroke: 1px #30475e;
        & .fa-star {
            color: #30475e;
            -webkit-text-stroke: 2px white;
        }
    }
}

.filter-container {
    background: #30475e;
    opacity: 0.9;
    width: fit-content;
    margin: 0px auto;
    padding: 10px 0;
    border-radius: 10px;
    display: grid;
    text-align: left;
    font-size: 12px;
    // font-family: Kelly Slab, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    // font-family: Baumans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    & label {
        margin: 0 20px;
    & input {
            margin-right: 6px;
            &:checked {
                background-color: #f2a365;
            }
        }
    }
}

.search-container {
    margin: 20px 0;
    &__input {
        border-radius: 8px;
        border: none;
        padding-left: 10px;
        margin-right: 5px;
        height: 30px;
        outline: none;
        width: 120px;
    }
    & button {
        border-radius: 8px;
        border: none;
        height: 30px;
        width: 30px;
        background: #f2a365;
        color: rgb(27, 27, 27);
        text-shadow: 1px 1px 1px white;
        font-weight: 700;
        outline: none;
        &:hover {
            -webkit-filter: brightness(120%);
        }
        & .fa-search {
            font-weight: bold;
        }
    }
}


.movie-list {
    width: 90%;
    margin: 0px auto;
    & ul {
        display: grid;
        justify-content: center;
        & li {
            list-style: none;
            width: 200px;
                & a {
                text-decoration: none;
                color: white;
                text-align: center;
            }
            & img {
                height: 250px;
                margin: 20px 0px 5px;
                border-radius: 8px;
                box-shadow: 1px 1px 3px darkgray;
                &:hover {
                    box-shadow: 5px 5px 11px darkgray;
                    -webkit-filter: brightness(120%);
                    height: 260px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}

@media	(min-width: 600px) {

    .header1 {
        text-align: right;
        padding-right: 50px;
        height: auto;
        & h3 {
            display: inline-block;
            cursor: pointer;
            &:hover {
                color: #dee7ec;
            }
        }
        & .fa-film {
            padding: 15px 4px;
        }
    }

    .header2 {
        & h1 {
            font-size: 70px;
            letter-spacing: 10px;
    }
    }

    .filter-container {
        text-align: center;
        display: inline-block;
        font-size: 16px;
    }

    .search-container {
        &__input {
            padding: 0 10px;
            height: 50px;
            width: 250px;
        }
        & button {
            height: 50px;
            width: 50px;
        }
    }

    .movie-list {
        & ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, 250px);
            grid-gap: 1rem;
            justify-content: space-between; 
            &::after {
                flex: auto;
              }
            & li {
                width: 250px;
                & a {
                    font-size: 20px;
                }
                & img {
                    height: 360px;
                    &:hover {
                        height: 365px;
                    }
                }
            }
        }
    }

}
